/* 
* Visualizing-Data-with-Leaflet - CSS Style Sheet 
*/

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}


/* #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
} */