/* 
* Visualizing-Data-with-Leaflet - CSS Style Sheet 
*/

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* Set Map, Body & HTML to 100% of the Screen Size */
#map,
body,
html {
  height: 100%;
}

.info {
  padding: 6px 15px;
  background: gray;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #500;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}